.sidr {
    /* Default Settings */
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}   
.sidr .sidr-inner {
    padding: 0 0 15px
}
.sidr .sidr-inner > p {
    margin-left: 15px;
    margin-right: 15px;
}
.sidr.sidr-right {
    left: auto;
    right: -300px;
}
.sidr.sidr-left {
    left: -300px;
    right: auto;
}
.sidr {
    /* Theme Settings */
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 11px;
    background: #f8f8f8;
    /* color:#562f00 !important; */
    -webkit-box-shadow: 0 0 5px 5px #ebebeb inset;
            box-shadow: 0 0 5px 5px #ebebeb inset
    
}
.sidr h1,
    .sidr h2,
    .sidr h3,
    .sidr h4,
    .sidr h5,
    .sidr h6 {
    font-size: 15px - 4;
    font-weight: normal;
    padding: 0 15px;
    margin: 0 0 5px;
    color: #333;
    line-height: 24px;
    -webkit-box-shadow: 0 5px 5px 3px rgba(#000, .2);
            box-shadow: 0 5px 5px 3px rgba(#000, .2);
}
.sidr p {
    font-size: 15px - 2;
    margin: 0 0 12px
}
.sidr p a {
    color: rgba(#333, .9);
}
.sidr > p {
    margin-left: 15px;
    margin-right: 15px;
}
.sidr ul {
    display: block;
    margin: 15px 0 0 0;
    padding: 0;
    border-top: 1px solid darken(#f8f8f8, 10%);
    border-bottom: 1px solid lighten(#f8f8f8, 10%)
}
.sidr ul li {
    display: block;
    margin: 0;
    line-height: 48px;
    border-top: 1px solid lighten(#f8f8f8, 10%);
    border-bottom: 1px solid darken(#f8f8f8, 10%);
}

.sidr ul li:hover,
            .sidr ul li.active,
            .sidr ul li.sidr-class-active {
    border-top: 0;
    line-height: 49px
}

.sidr ul li:hover > a,
                .sidr ul li:hover > span,
                .sidr ul li.active > a,
                .sidr ul li.active > span,
                .sidr ul li.sidr-class-active > a,
                .sidr ul li.sidr-class-active > span {
    -webkit-background: rgba(249,171,17, 1);
    background: rgba(249,171,17, 1);
    color: white;
    font-weight: bold;
}

.sidr ul li a,
    .sidr ul li span {
    padding: 0 15px;
    height: auto;
    display: block;
    text-decoration: none;
    color:#562f00;
}

/* .sidr ul li a,
.sidr ul li span{
    border: 1px solid black;
} */

.sidr ul li ul {
    border-bottom: 0;
    margin: 0
}
.sidr ul li ul li {
    line-height: 40px;
    font-size: 15px - 2
}
.sidr ul li ul li:last-child {
    border-bottom: 0;
}
.sidr ul li ul li:hover,
                    .sidr ul li ul li.active,
                    .sidr ul li ul li.sidr-class-active {
    border-top: 0;
    line-height: 41px
}

.sidr ul li ul li:hover > a,
                        .sidr ul li ul li:hover > span,
                        .sidr ul li ul li.active > a,
                        .sidr ul li ul li.active > span,
                        .sidr ul li ul li.sidr-class-active > a,
                        .sidr ul li ul li.sidr-class-active > span {
    -webkit-background: rgba(0, 129, 142, 1);
    background: rgba(0, 129, 142, 1);
    color: white;
    font-weight: bold;
}

.sidr ul li ul li a,
    .sidr ul li ul li span {
    color: rgba(#333, .8);
    padding-left: 30px;
    line-height: 150%;
    /* height: 4rem; */
    align-items: center;
    display: flex;
}

.sidr form {
    margin: 0 15px;
}
.sidr label {
    font-size: 15px - 2;
}
.sidr input[type="text"],
    .sidr input[type="password"],
    .sidr input[type="date"],
    .sidr input[type="datetime"],
    .sidr input[type="email"],
    .sidr input[type="number"],
    .sidr input[type="search"],
    .sidr input[type="tel"],
    .sidr input[type="time"],
    .sidr input[type="url"],
    .sidr textarea,
    .sidr select {
    width: 80%;
    font-size: 12px;
    padding: 11px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 15px 0 0 0px;
    border-radius: 2px;
    border: 0;
    box-shadow: 0 0 4px 0 blue;
    background: rgba(#000, .1);
    color: rgba(#333, .6);
    display: block;
    clear: both;
}

.sidr button[type=submit]{
    background-color: #CF5C3F;
    border: 0;
    padding: 1rem;
    float: right;
    /* border-radius: 0 1rem 1rem 0;  */
    margin-top: -4rem;
    height: 4rem;
}

.sidr input[type=checkbox] {
    width: auto;
    display: inline;
    clear: none;
}
.sidr input[type=button],
    .sidr input[type=submit] {
    color: #f8f8f8;
    background: rgba(#333, .9);
}

.sidr-class-menu-sidr>span,
li>.sidr-class-menu-sidr{
    background-color: rgb(241, 185, 101);
    font-family: 'Montserrat-Bold';
    font-size: 12px;
    /* text-decoration: underline rgba(249,171,17, 1) !important; */
    /* box-shadow: 2px 2px 1px blue; */
}

.sidr-class-menu-sidr>ul>li>a{
    /* border:1px solid red; */
    letter-spacing: 1px;
    padding: 10px;
    background-color:rgba(102, 104, 107, 0.2);
    height: auto;
}