@keyframes mymove {
    0% {
        transform: translateX(-80%);
        opacity: 0;
    }
    100% {
        transform: translateX(-60%);
        opacity: 1;
    }
}

@keyframes mymove2 {
    0% {
        transform: translateX(0%);
        opacity: 0;
    }
    100% {
        transform: translateX(-40%);
        opacity: 1;
    }
}

@keyframes img-surabaya-animasi {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@font-face {
    font-family: 'Philosopher-Bold';
    src: url('../../src/font/Philosopher-Bold.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../src/font/Montserrat.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../../src/font/Montserrat-Bold.woff');
    font-weight: bold;
    font-style: normal;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

.smartphone {
    display: none !important;
}

.dropdown-menu>li {
    list-style-type: none;
}

.sub_menu_1 {
    opacity: 0.89;
}

.sub_meniu2 {
    opacity: 1;
}


/* ===========================
   ====== Search Box ====== 
   =========================== */

.search {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.164);
    overflow: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.search input[type="text"] {
    border: 0px;
    width: 80%;
    font-family: 'Montserrat' !important;
    padding: 10px 10px;
    letter-spacing: normal;
    font-size: 15px;
}

.search input[type="text"]:focus {
    outline: 0;
}

.search button {
    /* background-image: url("src/images/cari.png"); */
    border: none;
    background-color: #CF5C3F;
    color: #fff;
    float: right;
    padding: 10px;
    border-radius-top-right: 5px;
    -moz-border-radius-top-right: 5px;
    -webkit-border-radius-top-right: 5px;
    border-radius-bottom-right: 5px;
    -moz-border-radius-bottom-right: 5px;
    -webkit-border-radius-bottom-right: 5px;
    cursor: pointer;
}


/* ===========================
      ====== Medua Query for Search Box ====== 
      =========================== */

@media only screen and (min-width: 150px) and (max-width: 780px) {
    .search {
        /* width: auto; */
        margin: 0 auto;
    }
}

.add-on .input-group-btn>.btn {
    border-left-width: 0;
    left: -2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}


/* stop the glowing blue shadow */

.nav li:hover>ul.dropdown-menu {
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    height: auto;
    /* border: 0px solid green; */
    display: block;
    padding: 1.5rem 1rem 1.5rem 1rem;
    background-color: white;
}

.dropdown-item {
    display: block;
    /* border: 1px solid blue; */
    height: 100%;
    width: auto;
    padding: 1rem;
    list-style-type: none;
}

.dropdown-submenu {
    position: relative;
    /* border: 1px solid red; */
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    list-style-type: none;
}

.dropdown-item:hover,
.dropdown-menu>li>a:hover {
    background-color: #00828eb0 !important;
}

.dropdown-menu>li:hover,
.dropdown-menu>li:focus {
    height: 100%;
    background-color: #00828eb0 !important;
}

.dropdown-menu>li>a {
    font-family: Montserrat-bold;
    text-transform: uppercase;
    font-size: 1.4rem !important;
    font-weight: bold;
    color: #562f00;
}

.dropdown-menu>li>a:hover:after {
    color: white;
}


/* rotate caret on hover */

.dropdown-menu>li>a:hover:after {
    border: 3px solid black;
    text-decoration: underline;
    transform: rotate(-90deg);
}

.menu-atas {
    border: 0 solid black;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 5;
    background-color: white;
    margin: 3rem 5rem 5rem 5.8rem;
    height: 8rem;
    max-width: 92.5%;
}

#profil-header {
    width: 13%;
    margin-left: 4rem;
}

.menu-atas>ul {
    width: 61%;
    border: 0 solid black;
}

.menu-atas>ul>li {
    margin-left: 4rem;
    list-style-type: none;
    border: 0 solid black;
    width: 17%;
    height: 7.8rem;
    display: flex;
    align-items: center;
}

.menu-atas>ul>li>a {
    color: #562f00;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: .28rem;
    text-shadow: .6px 0 #562f00;
}

.menu-atas>ul>li:hover>a,
.menu-atas>ul>li:focus-within>a {
    background-color: #00818e;
    border-top-left-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
    color: white;
    /* border-bottom: 3px solid #00818e; */
}

.menu-atas>a>img.active {} */

.menu-atas>img {
    height: auto;
    width: auto;
}

.slide-ukuran {
    height: 100%;
    width: auto;
}

.slider-head {
    padding: 0;
}

.animasi-surabaya {
    margin-top: 800px;
}

.teks-surabaya-shadow {
    position: absolute;
    top: 41%;
    left: 51%;
    font-size: 6vw;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #562f0056;
    animation-name: mymove;
    animation-duration: .9s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
    font-family: Philosopher-Bold;
    text-transform: uppercase;
}

.teks-surabaya {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 6vw;
    color: #ea5f00;
    animation-name: mymove;
    animation-duration: .9s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
    font-family: Philosopher-Bold;
    text-transform: uppercase;
    z-index: 1;
}

.teks-surabaya-2 {
    position: absolute;
    width: 45%;
    top: 62%;
    left: 70%;
    font-size: 1.5rem;
    color: #562f00;
    animation-name: mymove2;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
}

.teks-surabaya-2 {
    position: absolute;
    width: 45%;
    top: 62%;
    left: 70%;
    font-size: 1.5rem;
    color: #562f00;
    animation-name: mymove2;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
}

.img-surabaya img {
    width: 100%;
    height: auto;
    position: relative;
    animation-name: img-surabaya-animasi;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.intro {
    position: relative;
}

.lanjut {
    height: 5rem;
    width: 5rem;
    top: 50%;
    background-color: #ea5f00;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    opacity: 1 !important;
}

.slide-back {
    border: 0 solid black;
}


/* info section */

.info {
    border: 0 solid black;
    margin: 0;
    padding: 0;
    max-width: 192rem;
}

.info>h1 {
    line-height: 100%;
    padding-left: 5rem;
    margin-top: 5rem;
    color: #00818e;
    font-weight: bold;
    font-size: 2.3vw;
    letter-spacing: .5rem;
    text-shadow: 2px 0 #00818e;
    font-family: 'Montserrat', sans-serif;
}

.info>hr {
    width: 3%;
    border: 3px solid #ea5f00;
    float: left;
    margin-left: 5rem;
}

.info>.row>.col-lg-6>p {
    font-size: 1.1vw;
    text-align: justify;
    margin-left: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.info>.row>.col-lg-6>button {
    font-size: 1.1vw;
    width: 40%;
    height: 90%;
    border-radius: .6rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #00818e !important;
    border: none;
}

.info>.row>.col-lg-6>button:hover {
    background-color: #11aa89 !important;
}

#row {
    overflow-x: hidden;
    width: 100%;
}

.row__inner {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    margin: 70.3125px 0;
    padding-bottom: 1rem;
    counter-increment: row__inner;
    white-space: nowrap;
}

.tile {
    position: relative;
    display: inline-block;
    width: 33rem;
    height: 33rem;
    margin-right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    /* box-shadow: 5px 5px 5px 1px grey; */
}

.tile__img {
    width: 33rem;
    height: 33rem;
    -o-object-fit: cover;
    object-fit: cover;
}

.tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 1rem;
    opacity: 0;
    transition: 450ms opacity;
}

.tile__details:after,
.tile__details:before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: #000;
}

.tile__details:after {
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    /*border: 3px solid #ecf0f1;*/
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.tile__details:before {
    left: 0;
    width: 100%;
    font-size: 30px;
    margin-left: 7px;
    margin-top: -18px;
    text-align: center;
    z-index: 2;
}

.tile:hover .tile__details {
    opacity: 1;
}

.tile__title {
    position: absolute;
    bottom: 0;
    padding: 10px;
}


/*
.row__inner:hover {
    -webkit-transform: translate3d(-62.5px, 0, 0);
    transform: translate3d(-62.5px, 0, 0);
}
*/


/*
.row__inner:hover .tile {
    opacity: 0.3;
}
*/


/*
.row__inner:hover .tile:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
}
*/


/*
.tile:hover~.tile {
    -webkit-transform: translate3d(70px, 0, 0);
    transform: translate3d(70px, 0, 0);
}
*/

.img-each {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    transition: transform .2s;
}

.img-each>img {
    display: block;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .4s, all .2s;
}

.tile:nth-child(odd)>div>div>div>.overlay {
    background: rgba(255, 150, 0, 0.9);
}

.tile:nth-child(even)>div>div>div>.overlay {
    background: #00818e;
}

.img-each:hover .overlay {
    visibility: visible;
    opacity: 1;
    color: white;
}

.viewmore {
    transition: all .3s;
    transform: translateY(.1em);
    width: 100%;
    height: 100%;
    white-space: normal !important;
}

.viewmore>a:hover {
    text-decoration: none;
}

.img-each:hover .viewmore {
    transform: translateY(.1);
}

.viewmore>a {
    display: block;
    color: #fff;
    padding: 50px;
    position: relative;
    height: 100%;
}

.viewmore>a>.dinas-text {
    position: absolute;
    font-size: 10px;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.viewmore>a>.kota-sby-text {
    position: absolute;
    font-size: 10px;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}


/* end of info section */


/* video section */

.video {
    border: 0 solid black;
    margin: 0;
    padding: 0;
    max-width: 192rem;
}

.video>h1 {
    line-height: 100%;
    padding-left: 5rem;
    margin-top: 5rem;
    color: #00818e;
    font-weight: bold;
    font-size: 2.3vw;
    letter-spacing: .5rem;
    text-shadow: 2px 0 #00818e;
    font-family: 'Montserrat', sans-serif;
}

.video>hr {
    width: 3%;
    border: 3px solid #ea5f00;
    float: left;
    margin-left: 5rem;
}

.video>.row>.col-lg-6>p {
    font-size: 1.1vw;
    text-align: justify;
    margin-left: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.video>.row>.col-lg-6>button {
    font-size: 1.1vw;
    width: 40%;
    height: 90%;
    border-radius: .6rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #00818e !important;
    border: none;
}

.video>.row>.col-lg-6>button:hover {
    background-color: #11aa89 !important;
}

#row1 {
    overflow-x: hidden;
    width: 100%;
}


/* end of video section */


/* audio section */

.audio {
    border: 0 solid black;
    margin: 0;
    padding: 0;
    max-width: 192rem;
}

.audio>h1 {
    line-height: 100%;
    padding-left: 5rem;
    margin-top: 5rem;
    color: #00818e;
    font-weight: bold;
    font-size: 2.3vw;
    letter-spacing: .5rem;
    text-shadow: 2px 0 #00818e;
    font-family: 'Montserrat', sans-serif;
}

.audio>hr {
    width: 3%;
    border: 3px solid #ea5f00;
    float: left;
    margin-left: 5rem;
}

.audio>.row>.col-lg-6>p {
    font-size: 1.1vw;
    text-align: justify;
    margin-left: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.audio>.row>.col-lg-6>button {
    font-size: 1.1vw;
    width: 40%;
    height: 90%;
    border-radius: .6rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #00818e !important;
    border: none;
}

.audio>.row>.col-lg-6>button:hover {
    background-color: #11aa89 !important;
}

#row3 {
    overflow-x: hidden;
    width: 100%;
}


/* end of audio section */


/* foto section */

.foto {
    border: 0 solid black;
    margin: 0;
    padding: 0;
    max-width: 192rem;
}

.foto>h1 {
    line-height: 100%;
    padding-left: 5rem;
    margin-top: 5rem;
    color: #00818e;
    font-weight: bold;
    font-size: 2.3vw;
    letter-spacing: .5rem;
    text-shadow: 2px 0 #00818e;
    font-family: 'Montserrat', sans-serif;
}

.foto>hr {
    width: 3%;
    border: 3px solid #ea5f00;
    float: left;
    margin-left: 5rem;
}

.foto>.row>.col-lg-6>p {
    font-size: 1.1vw;
    text-align: justify;
    margin-left: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.foto>.row>.col-lg-6>button {
    font-size: 1.1vw;
    width: 40%;
    height: 90%;
    border-radius: .6rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #00818e !important;
    border: none;
}

.foto>.row>.col-lg-6>button:hover {
    background-color: #11aa89 !important;
}

#row2 {
    overflow-x: hidden;
    width: 100%;
}


/* end of foto section */


/* berita section */

.berita>.row>.col-lg-6>p {
    font-size: 1.1vw;
    text-align: justify;
    margin-left: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.berita>.row>.col-lg-6>button {
    font-size: 1.1vw;
    width: 40%;
    height: 145%;
    border-radius: .6rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #00818e !important;
    border: none;
}

.berita>.row>.col-lg-6>button:hover {
    background-color: #11aa89 !important;
}

.btn-berita>button {
    float: right;
    padding-right: 3rem;
}

.berita {
    border: 0 solid black;
    margin: 0;
    padding: 0;
    max-width: 192rem;
}

.video>h1 {
    line-height: 100%;
    padding-left: 5rem;
    margin-top: 5rem;
    color: #00818e;
    font-weight: bold;
    font-size: 2.3vw;
    letter-spacing: .5rem;
    text-shadow: 2px 0 #00818e;
    font-family: 'Montserrat', sans-serif;
}

.berita>hr {
    width: 3%;
    border: 3px solid #ea5f00;
    float: left;
    margin-left: 5rem;
}


/* end of berita section */


/* pelayanan section */

.pelayanan>.row>.col-lg-6>p {
    font-size: 1.1vw;
    text-align: justify;
    margin-left: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.pelayanan {
    border: 0 solid black;
    max-width: 192rem;
    padding-top: 8rem;
}

.pelayanan>h1 {
    margin-left: 5rem;
    font-weight: bold;
    color: #00818e;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.3vw;
    letter-spacing: .5rem;
    text-shadow: 2px 0 #00818e;
}

.pelayanan>hr {
    width: 3%;
    border: 3px solid #ea5f00;
    float: left;
    margin-left: 5rem;
}


/* end of pelayanan section */

.profil>.row>.col-lg-6>p {
    font-size: 1.1vw;
    text-align: justify;
    margin-left: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.informasi>.row>.col-lg-6>p {
    font-size: 1.1vw;
    text-align: justify;
    margin-left: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.komik>.row>.col-lg-6>p {
    font-size: 1.1vw;
    text-align: justify;
    margin-left: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.btn-info-penting>button {
    float: right;
    margin-right: 3rem;
}

.komik>.row>.col-lg-6>button:hover {
    background-color: #11aa89 !important;
}

.komik>.row>.col-lg-6>button {
    font-size: 1.1vw;
    width: 40%;
    height: 90%;
    border-radius: .6rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #00818e !important;
    border: none;
}

.btn-komik>button {
    float: right;
    margin-right: 3rem;
}

.judul-info>a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.profil {
    border: 0 solid black;
    margin: 0;
    padding: 0;
    max-width: 192rem;
}

.profil>h1 {
    margin-left: 5rem;
    font-weight: bold;
    color: #00818e;
    font-weight: bold;
    font-size: 2.3vw;
    letter-spacing: .5rem;
    text-shadow: 2px 0 #00818e;
    font-family: 'Montserrat', sans-serif;
}

.profil>hr {
    width: 3%;
    border: 3px solid #ea5f00;
    float: left;
    margin-left: 5rem;
}

.audio>.row>.col-lg-6>p {
    font-size: 1.1vw;
    text-align: justify;
    margin-left: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.audio>.row>.col-lg-6>button {
    font-size: 1.1vw;
    width: 40%;
    height: 90%;
    border-radius: .6rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #00818e !important;
    border: none;
}

.audio>.row>.col-lg-6>button:hover {
    background-color: #11aa89 !important;
}

#row3 {
    overflow-x: hidden;
    width: 100%;
}


/* end of audio section */


/* foto section */

.foto {
    border: 0 solid black;
    margin: 0;
    padding: 0;
    max-width: 192rem;
    padding-top: 14rem;
}

.foto>h1 {
    line-height: 100%;
    padding-left: 5rem;
    margin-top: 5rem;
    color: #00818e;
    font-weight: bold;
    font-size: 2.3vw;
    letter-spacing: .5rem;
    text-shadow: 2px 0 #00818e;
    font-family: 'Montserrat', sans-serif;
}

.foto>hr {
    width: 3%;
    border: 3px solid #ea5f00;
    float: left;
    margin-left: 5rem;
}

.komik {
    border: 0 solid black;
    max-width: 192rem;
    padding-top: 10rem;
}

.komik_detail {
    padding: 5rem;
}

.foto>.row>.col-lg-6>button {
    font-size: 1.1vw;
    width: 40%;
    height: 90%;
    border-radius: .6rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #00818e !important;
    border: none;
}

.foto>.row>.col-lg-6>button:hover {
    background-color: #11aa89 !important;
}

#row2 {
    overflow-x: hidden;
    width: 100%;
}


/* end of foto section */


/* berita section */

.berita>.row>.col-lg-6>p {
    font-size: 1.1vw;
    text-align: justify;
    margin-left: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.berita>.row>.col-lg-6>button {
    font-size: 1.1vw;
    width: 40%;
    height: 145%;
    border-radius: .6rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #00818e !important;
    border: none;
    float: left;
}

.berita>.row>.col-lg-6>button:hover {
    background-color: #11aa89 !important;
}

.berita {
    border: 0 solid black;
    max-width: 192rem;
    padding-top: 2rem;
}

.berita>h1 {
    margin-left: 5rem;
    font-weight: bold;
    color: #00818e;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.3vw;
    letter-spacing: .5rem;
    text-shadow: 2px 0 #00818e;
}

.berita>hr {
    width: 3%;
    border: 3px solid #ea5f00;
    float: left;
    margin-left: 5rem;
}


/* end of berita section */


/* pelayanan section */

.pelayanan>.row>.col-lg-6>p {
    font-size: 1.1vw;
    text-align: justify;
    margin-left: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.pelayanan {
    border: 0 solid black;
    max-width: 192rem;
    padding-top: 8rem;
}

.pelayanan>h1 {
    margin-left: 5rem;
    font-weight: bold;
    color: #00818e;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.3vw;
    letter-spacing: .5rem;
    text-shadow: 2px 0 #00818e;
}

.pelayanan>hr {
    width: 3%;
    border: 3px solid #ea5f00;
    float: left;
    margin-left: 5rem;
}


/* end of pelayanan section */

.profil>.row>.col-lg-6>p {
    font-size: 1.1vw;
    text-align: justify;
    margin-left: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.informasi>.row>.col-lg-6>p {
    font-size: 1.1vw;
    text-align: justify;
    margin-left: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.komik>.row>.col-lg-6>p {
    font-size: 1.1vw;
    text-align: justify;
    margin-left: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.btn-info-penting>button {
    float: right;
    margin-right: 3rem;
}

.komik>.row>.col-lg-6>button:hover {
    background-color: #11aa89 !important;
}

.komik>.row>.col-lg-6>button {
    font-size: 1.1vw;
    width: 40%;
    height: 90%;
    border-radius: .6rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #00818e !important;
    border: none;
}

.btn-komik>button {
    float: right;
    margin-right: 3rem;
}

.judul-info>a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.profil {
    border: 0 solid black;
    max-width: 192rem;
    padding-top: 2rem;
}

.profil>h1 {
    margin-left: 5rem;
    font-weight: bold;
    color: #00818e;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.3vw;
    letter-spacing: .5rem;
    text-shadow: 2px 0 #00818e;
}

.profil>hr {
    width: 3%;
    border: 3px solid #ea5f00;
    float: left;
    margin-left: 5rem;
}

.informasi {
    border: 0 solid black;
    max-width: 192rem;
    padding-top: 14rem;
}

.informasi>h1 {
    margin-left: 5rem;
    font-weight: bold;
    color: #00818e;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.3vw;
    letter-spacing: .5rem;
    text-shadow: 2px 0 #00818e;
}

.informasi>hr {
    width: 3%;
    border: 3px solid #ea5f00;
    float: left;
    margin-left: 5rem;
}

.komik {
    border: 0 solid black;
    max-width: 192rem;
    padding-top: 10rem;
}

.komik_detail {
    padding: 5rem;
}

.komik>h1 {
    margin-left: 5rem;
    font-weight: bold;
    color: #00818e;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.3vw;
    letter-spacing: .5rem;
    text-shadow: 2px 0 #00818e;
}

.komik>hr {
    width: 3%;
    border: 3px solid #ea5f00;
    float: left;
    margin-left: 5rem;
}

.berita-isi {
    height: 50rem;
}

.img-berita {
    padding-top: 5rem;
    padding-left: 5rem;
}

.img-berita img {
    width: 65%;
    height: 50%;
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -o-transition: all 1s ease;
    /* IE 9 */
    -ms-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
}

.img-berita:hover img {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
}

.judul-berita {
    border-right: .2rem solid darkgray;
}

.judul-berita h2 {
    border: 0 solid black;
    margin-top: 5rem;
    color: #562f00;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1200px) {
    .menu-atas {
        display: none;
    }
    .smartphone {
        display: block !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .smartphone>a {
        border: 0 solid #808080;
        background-color: #333333;
        margin-left: 80%;
        margin-top: -2px;
    }
    .menu-atas-menu-mobile>img {
        width: auto;
        height: auto;
        margin-left: 340px;
        margin: 0 auto;
    }
    .smartphone>div>ul>li>a {
        color: #000 !important;
    }
    .carousel-cell {
        width: 80%;
    }
    .info>h1 {
        display: none;
    }
    .info {
        border: 0 solid black;
        margin: 0;
        padding: 0;
        max-width: 1920px;
        line-height: 100%;
        text-align: center;
        color: #562f00;
        font-weight: bold;
    }

    .dropdown-menu>li {
        list-style-type: none;
    }
    
    .sub_menu_1 {
        opacity: 0.89;
    }
    
    .sub_meniu2 {
        opacity: 1;
    }
    
    .nav li:hover>ul.dropdown-menu {
        margin-top: 0;
        margin-bottom: 0;
        width: auto;
        height: auto;
        /* border: 0px solid green; */
        display: block;
        padding: 1.5rem 1rem 1.5rem 1rem;
        background-color: white;
    }
    
    .dropdown-item {
        display: block;
        /* border: 1px solid blue; */
        height: 100%;
        width: auto;
        padding: 1rem;
        list-style-type: none;
    }
    
    .dropdown-submenu {
        position: relative;
        /* border: 1px solid red; */
    }
    
    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: 0px;
        list-style-type: none;
    }
    
    .dropdown-item:hover,
    .dropdown-menu>li>a:hover {
        background-color: #00828eb0 !important;
    }
    
    .dropdown-menu>li:hover,
    .dropdown-menu>li:focus {
        height: 100%;
        background-color: #00828eb0 !important;
    }
    
    .dropdown-menu>li>a {
        font-family: Montserrat-bold;
        text-transform: uppercase;
        font-size: 1.4rem !important;
        font-weight: bold;
        color: #562f00;
    }
    
    .dropdown-menu>li>a:hover:after {
        color: white;
    }
    
    
    /* rotate caret on hover */
    
    .dropdown-menu>li>a:hover:after {
        border: 3px solid black;
        text-decoration: underline;
        transform: rotate(-90deg);
    }
    
    .menu-atas {
        border: 0 solid black;
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 5;
        background-color: white;
        margin-top: 3rem;
        margin-left: 5rem;
        height: 8rem;
    }
    
    .menu-atas>ul {
        width: 90%;
        border: 0 solid black;
    }
    
    .menu-atas>ul>li {
        margin-left: 8rem;
        list-style-type: none;
        border: 0 solid black;
        width: 18%;
        height: 7.8rem;
        display: flex;
        align-items: center;
    }
    
    .menu-atas>ul>li>a {
        color: #562f00;
        font-family: Montserrat;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: .28rem;
        text-shadow: .6px 0 #562f00;
    }
    
    .menu-atas>ul>li:hover>a,
    .menu-atas>ul>li:focus-within>a {
        background-color: #00818e;
        border-top-left-radius: 1.3rem;
        border-bottom-right-radius: 1.3rem;
        color: white;
        /* border-bottom: 3px solid #00818e; */
    }
    
    .menu-atas>a>img.active {} */
    
    .menu-atas>img {
        height: auto;
        width: auto;
    }
}


/* isi-berita */

.gambar-berita {
    padding: 0;
}

.berita {
    padding-top: 8rem;
}

.isi-berita {
    padding: 5rem;
}

.berita>.isi-berita {
    padding: 0 5rem 0 5rem;
}

.isi-berita>.isi-berita-judul {
    margin-top: 5rem;
    height: 10rem;
    color: #ea5f00;
    align-items: center;
    display: flex;
    font-weight: bold;
    text-align: justify;
    font-family: 'Montserrat-Bold';
}

.isi-berita>.isi-berita-judul>h1 {
    font-size: 2vw;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: justify;
}

.lanjut-berita>button {
    padding: 0;
    border: 0;
}

.lanjut-berita>button>img {
    height: 4vw;
    width: auto;
    background-color: white;
}

.isi-berita>.isi-berita-desc {
    /* border: 1px solid black; */
    margin-top: 2%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: justify;
    color: #562f00;
    height: 43rem;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
}


/* lanjut isi berita */

.img-isi-berita-lanjut {
    padding: 23rem 4rem 10rem 6rem;
}

.img-isi-berita-lanjut>img {
    max-width: 100%;
    height: auto;
    box-shadow: 8px 10px 10px grey;
    
}

.back-berita>button {
    padding: 0;
    border: 0;
}

.back-berita>button>img {
    height: 4vw;
    width: auto;
    background-color: white;
}

.isi-berita-lanjut { 
    padding-top: 12rem;
}
.decs-isi-berita-lanjut {
    padding: 2rem 2rem 2rem 2rem;
    column-count: 2;
    text-align: justify;
    color: #562f00;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
}

.row-isi-berita-lanjut {
    width: auto;
    padding: 5rem 2rem 5rem 2rem;
}


/* footer */

.indigo {
    background-color: #00818e !important;
    bottom: 0;
    position: relative;
    margin-top: 4rem;
}


/* .flex-center {
    margin-top: 1rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
} */

.int-ic {
    margin-right: 4rem;
}

.fb-ic {
    margin-right: 4rem;
}

.tw-ic {
    margin-right: 4rem;
}

.ytb-ic {
    margin-right: 0rem;
}


/*
.logo-center>img {
    border: 2px solid green;
    width: 20%;
    margin: 0% auto;
} */

.berita-intro {
    /*border:1px solid #000000;*/
    padding: 3.4rem;
}

.berita-intro>.berita-konten {
    max-width: 100%;
    /*border: 1px solid #000000;*/
}

.berita-konten>.berita-isi-konten {
    /*border: 1px solid #000000;*/
    padding: 0;
}

.berita-isi-konten>.berita-slider-intro {
    /*border: 1px solid red;*/
    height: 30rem;
    padding: 0 auto;
    /*margin-top: 5rem;*/
    margin: 0 auto;
}

.berita-slide-konten>.slide-konten-img {
    /*border: 1px solid #000000;*/
    height: 30rem;
    display: flex;
    padding: 0;
}

.berita-slide-konten>.slide-konten-desc {
    /*border: 1px solid #000000;*/
    /*padding-right: 10;*/
    padding-left: 0;
}

.slide-konten-img>img {
    width: 100%;
    height: auto;
}

.slide-konten-desc>.slide-judul-desc {
    /*border: 1px solid black;*/
    height: 9rem;
    display: flex;
    align-items: center;
}

.slide-konten-desc>.slide-judul-desc>h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: #fd7e14;
}

.slide-konten-desc>.slide-isi-desc {
    /*border: 1px solid black;*/
    height: 21rem;
    /*border-radius: 0 0 40px 0;*/
    background-color: #00818E;
    color: white;
    /*display: flex;*/
    /*align-items: center;*/
    padding: 2rem;
    font-size: small;
}

.btn-selengkapnya {
    background-color: #fd7e14;
    color: white;
    width: 50%;
    height: 20%;
    font-size: 1vw;
}

.btn-selengkapnya:hover {
    background-color: darkorange;
}

.slide-isi-desc>a:hover {
    color: #ffffff;
}

.berita-isi-konten>.berita-kanan {
    padding: 0 5rem 0 5rem;
}

.berita-isi-konten>.berita-kanan {
    /*border: 1px solid #000000;*/
}

.berita-kanan-konten {
    /*border-bottom: 1px solid #000000;*/
}

.berita-kanan-konten>.berita-kanan-isi-konten {
    /*border: 1px solid #000000;*/
}

.berita-kanan-konten>.berita-kanan-isi-konten>.berita-kanan-tgl>.tgl {
    height: 10rem;
    /*border:1px solid #000000;*/
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    justify-content: center;
}

.berita-kanan-isi-konten>.berita-kanan-tgl>.tgl {
    color: #562f00;
    font-weight: bold;
}

.berita-kanan-isi-konten>.berita-kanan-tgl>.judul {
    color: #808080;
    font-weight: bold;
}

.berita-kanan-konten>.berita-kanan-isi-konten>.berita-kanan-judul {
    height: 10rem;
    /*border: 1px solid #000000;*/
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1.2rem;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}


/* KOMIK */

.overlay-komik {
    /*border:1px solid red;*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    background: rgba(3, 205, 202, 0.9);
    /* transition effect. not necessary */
    transition: opacity .1s, visibility .4s, all .2s;
}

.img-each:hover .overlay-komik {
    visibility: visible;
    opacity: 1;
}

.viewmore-komik {
    transition: all .3s;
    transform: translateY(.1em);
    width: 100%;
    height: 4rem;
    /*border:1px solid red;*/
    white-space: normal !important;
}

.viewmore-komik>a:hover {
    text-decoration: none;
}

.img-each:hover .viewmore-komik {
    transform: translateY(.1);
}

.viewmore-komik>a {
    display: block;
    color: #fff;
    position: relative;
    height: 100%;
    /*border:1px solid red;*/
}

.viewmore-komik>a>.judul-komik {
    position: absolute;
    font-size: 20px;
}

.overlay-komik>.judul-komik {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-menu-informasi {
    margin-top: 3rem;
    padding-left: 20vw;
    height: 60rem;
}

.vertical-menu-informasi {
    margin-top: 3rem;
    padding-left: 20vw;
    height: 43rem;
}

.vertical-menu-informasi>ul {
    width: 40%;
    background-color: #bdc3c7;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    z-index: 900 !important;
}

.vertical-menu-informasi>ul>li {
    list-style-type: none;
}

.vertical-menu-informasi>ul>li>a {
    display: block;
    color: #562f00;
    padding: 2rem 2rem;
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

.vertical-menu-informasi>ul>li:hover {
    border-bottom: 2px solid #fd7e14;
    font-weight: 900;
    width: 100%;
}

.vertical-menu-informasi>ul {
    width: 40%;
    background-color: #bdc3c7;
    border-top-left-radius: 3rem;
    /* border-bottom-right-radius: 3rem; */
    z-index: 900 !important;
}


/*  */

.vertical-menu {
    margin-top: 3rem;
    padding-left: 20vw;
    height: 27rem;
}

.vertical-menu>ul {
    width: 40%;
    background-color: #bdc3c7;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    z-index: 900 !important;
}

.vertical-menu>ul>li {
    list-style-type: none;
}

.vertical-menu>ul>li>a {
    display: block;
    color: #562f00;
    padding: 2rem 2rem;
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

.vertical-menu>ul>li:hover {
    border-bottom: 2px solid #fd7e14;
    font-weight: 900;
    width: 100%;
}

.vertical-menu>ul {
    width: 40%;
    background-color: #bdc3c7;
    border-top-left-radius: 3rem;
    /* border-bottom-right-radius: 3rem; */
    z-index: 900 !important;
}


/*  */

.vertical-menu-pelayanan {
    margin-top: 3rem;
    padding-left: 20vw;
    height: 50rem;
}

.vertical-menu-pelayanan>ul {
    width: 40%;
    background-color: #bdc3c7;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    z-index: 900 !important;
}

.vertical-menu-pelayanan>ul>li {
    list-style-type: none;
}

.vertical-menu-pelayanan>ul>li>a {
    display: block;
    color: #562f00;
    padding: 2rem 2rem;
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

.vertical-menu-pelayanan>ul>li:hover {
    border-bottom: 2px solid #fd7e14;
    font-weight: 900;
    width: 100%;
}

.vertical-menu-pelayanan>ul {
    width: 40%;
    background-color: #bdc3c7;
    border-top-left-radius: 3rem;
    /* border-bottom-right-radius: 3rem; */
    z-index: 900 !important;
}

.submenu {
    background-color: #fd7e14;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.submenu>li {
    list-style-type: none;
}

.square {
    width: 100%;
    transform: translate(18%, -55%);
    z-index: -999 !important;
}

.jero {
    background: #00818e;
    width: 70%;
    height: 40rem;
    border-bottom-right-radius: 5rem;
}

.flyout-right {
    position: relative;
}

.flyout-right>ul {
    top: 0px;
    min-width: 95%;
    display: none;
}

.flyout-right ul>li>a {
    color: #fff;
    display: block;
    padding: 1vw;
    text-decoration: none;
    background-color: #fd7e14;
    border-bottom: 2px solid #fd7e14;
    border-top-left-radius: 3rem;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    border-bottom-right-radius: 3rem;
    -webkit-transition: color 0.2s linear, background 0.2s linear;
    -moz-transition: color 0.2s linear, background 0.2s linear;
    -o-transition: color 0.2s linear, background 0.2s linear;
    transition: color 0.2s linear, background 0.2s linear;
}

.flyout-right>ul:hover,
li.flyout-right a:hover+ul {
    display: block;
}

@media ( min-width: 767px) {
    .flyout-right>ul {
        position: absolute;
    }
    .flyout-right>ul {
        left: 100%;
    }
}

@media ( max-width: 767px) {
    .flyout-right>ul,
    .flyout-left>ul,
    li.drop-down>ul {
        position: relative;
    }
}


/* TAB Baru */

.tentang-surabaya-judul {
    border: 0 solid black;
    text-align: center;
    padding-top: 15rem;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 3vw;
    letter-spacing: .5rem;
    color: #00818E;
}

.tentang-surabaya-konten {
    border: 0 solid black;
    padding-bottom: 5rem;
}

.row-centered {
    border: 0 solid black;
    margin-top: 7rem;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    /* inline-block space fix */
    border: 0 solid black;
    height: 15rem;
    margin-top: 1rem;
}

.item {
    width: 100%;
    height: 75%;
}

.content {
    background-color: #bdc3c7;
    color: #562f00;
    padding: 40px;
    border-radius: .6rem;
    font-size: 1.5rem;
    font-family: 'Montserrat-bold', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.content:hover {
    border: .5rem solid #00818e;
    color: #00818e;
}

.col-centered>a {
    color: #562f00;
    text-decoration: none;
}

.tentang-surabaya-konten>hr {
    border: .2rem solid #ea5f00;
    width: 75%;
}

.navDropdown {
    font-size: 13px;
}

.navDropdown a:hover {
    background-color: white;
}

.backgroundWhite {
    background-color: white;
}

.nav-item {
    padding-left: 10px;
}

.dropdown-item {
    padding-top: 10px;
}

.navbar-brand {
    margin-bottom: 3px;
}